<div class="container p-2 flex flex-column justify-content-center align-items-stretch">
  <!-- <div class="file-upload-box h-10rem w-full border-2 border-round-xl border-dashed border-primary flex flex-column justify-content-center align-items-center">
    <span class="upload-message text-bluegray-500">Drag and drop or pick a pdf file to upload.</span> -->
    <p-fileUpload name="test[]" url="" (onUpload)="uploadFile($event)" accept="application/pdf">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
    </p-fileUpload>
  <!-- </div> -->
</div>
