<div class="container p-5">
  <div class="header flex flex-auto align-items-baseline">
    <a [routerLink]="['/']" class="mr-3"><i class="pi pi-arrow-left"></i></a>
    <span class="text-5xl text-bluegray-500 font-bold">Settings</span>
  </div>

  <div class="settings-panel formgrid grid w-full my-3 p-3">

    <div class="email my-2 col-12">
      <label for="email" class="block mb-1 font-bold text-bluegray-500">Email</label>
      <div class="p-inputgroup">
        <input [(ngModel)]="userInfo.email" id="email" type="email" pInputText class="w-full"
          [disabled]="emailFieldStatus">
        <button type="button" pButton class="p-button-primary" label="Edit" (click)="editEmail()"></button>
      </div>
    </div>

    <div class="password my-2 col-12">
      <label for="password" class="block mb-1 font-bold text-bluegray-500">Password</label>
      <div class="p-inputgroup">
        <input [(ngModel)]="userInfo.password" id="password" type="password" pInputText class="w-full"
          [disabled]="passwordFieldStatus">
        <button type="button" pButton class="p-button-primary" label="Edit" (click)="editPassword()"></button>
      </div>
    </div>

    <div class="firstname my-2 col-12">
      <label for="firstname" class="block mb-1 font-bold text-bluegray-500">First Name</label>
      <div class="p-inputgroup">
        <input [(ngModel)]="userInfo.firstName" id="firstname" type="text" pInputText class="w-full"
          [disabled]="firstnameFieldStatus">
        <button type="button" pButton class="p-button-primary" label="Edit" (click)="editFirstname()"></button>
      </div>
    </div>

    <div class="lastname my-2 col-12">
      <label for="lastname" class="block mb-1 font-bold text-bluegray-500">Last Name</label>
      <div class="p-inputgroup">
        <input [(ngModel)]="userInfo.lastName" id="lastname" type="text" pInputText class="w-full"
          [disabled]="lastnameFieldStatus">
        <button type="button" pButton class="p-button-primary" label="Edit" (click)="editLastname()"></button>
      </div>
    </div>

    <div class="phonenumber my-2 col-12">
      <label for="phonenumber" class="block mb-1 font-bold text-bluegray-500">Phone Number</label>
      <div class="p-inputgroup">
        <input [(ngModel)]="userInfo.phoneNo" id="phonenumber" type="text" pInputText class="w-full"
          [disabled]="phonenumberFieldStatus">
        <button type="button" pButton class="p-button-primary" label="Edit" (click)="editPhonenumber()"></button>
      </div>
    </div>

    <div class="organization my-2 col-12">
      <label for="organization" class="block mb-1 font-bold text-bluegray-500">Organization</label>
      <div class="p-inputgroup">
        <input [(ngModel)]="userInfo.organiztion" id="organization" type="text" pInputText class="w-full"
          [disabled]="organizationFieldStatus">
        <button type="button" pButton class="p-button-primary" label="Edit" (click)="editOrganization()"></button>
      </div>
    </div>

    <div class="designation my-2 col-12">
      <label for="designation" class="block mb-1 font-bold text-bluegray-500">Designation</label>
      <div class="p-inputgroup">
        <input [(ngModel)]="userInfo.designation" id="designation" type="text" pInputText class="w-full"
          [disabled]="designationFieldStatus">
        <button type="button" pButton class="p-button-primary" label="Edit" (click)="editDesignation()"></button>
      </div>
    </div>

    <button type="button" pButton label="Update" class="w-full my-3 p-3" (click)="updateUser()"></button>


  </div>
</div>
